<div class="wrapper">
  <a [routerLink]="['/products', this.cartItem.product.id]">
    <img [src]="this.cartItem.product.image" alt="">
  </a>

  <div class="cart-item-text">
    <a [routerLink]="['/products', this.cartItem.product.id]">
      <h2>{{ this.cartItem.product.name }}</h2>
    </a>
    <app-quantity-selector [quantity]="this.cartItem.quantity" [cartItem]="this.cartItem"></app-quantity-selector>
    <div class="delete-button" (click)="deleteFromCart()">
      <div class="text">Delete From Cart</div>
    </div>
    <h2 class="total-price">{{ this.cartItem.frenchTotalPrice }}</h2>
  </div>
</div>