.cart{
    grid-column: 2;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr auto;
}

.items-list{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

mat-card.total-price{
    grid-row: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: start;
}

:host{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

.no-item-message{
    grid-row: 2;
    margin-left: 10px;
}
