@font-face {
    font-family: 'Raleway-Regular';
    src: url('/assets/fonts/Raleway-Regular.ttf') format('truetype');
}

*{
    font-family: "Raleway-Regular", sans-serif;
}

.content-section{
    overflow: visible;
}