<h1>Welcome to My Awesome App</h1>
<form [formGroup]="this.registerForm" (ngSubmit)="this.register()">
    <h2>Register</h2>
    <div>
        <label for="email">Username: </label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">submit</button>
</form>

<form [formGroup]="this.loginForm" (ngSubmit)="this.login()">
    <h2>Login</h2>
    <div>
        <label for="email">Username: </label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">submit</button>
</form>

<button (click)="this.checkConnected()">check</button>