*{
    color: white;
}

.product{
    display: grid;
    margin: 0 10%;
    grid-template-columns: 2fr 3fr;
    gap: 0px 50px;
}

.product-text{
    display: grid;
    gap: 10px;
}

.product-information{
    margin: 10px 0
}

.name{
    text-transform: uppercase;
    font-size: 2em;
}

.price{
    font-size: 1.5em;
}

img{
    width: 100%;
    grid-row: 1/3;
}

.description{
    border-top: 1px solid rgb(191, 191, 191);
    padding-top: 30px;
    margin-top: 30px;
    font-size: 1.2em;
}

.quantity{
    font-size: 1.3em;
}

.action-buttons{
    margin-top: 10px;
    display: grid;
    gap: 10px
}

.cart{
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
}

.action-buttons > *{
    font-size: 1.5em;
    cursor: pointer;
    padding: 0;
}

.action-buttons > .elegant{
    place-items: center;
    box-sizing: border-box;
    display: grid;
    align-items: stretch;
    justify-items: stretch;

}

.action-buttons .text{
    grid-area: 1/1;
    text-align: center;
    padding: 10px;
}

.background{
    background-color: rgb(188, 205, 255);
    grid-area: 1/1;
}
.buy{
    background-color: #1138b1;
    border: 1px solid #1138b1;
    color: white;
    transition: 0.5s;
}
.buy:hover{
    color: black;
    transition: 0.5s;
}

.buy .background{
    background-color: rgb(188, 205, 255);
}

.delete-button{
    border-width: 0;
    background-color: rgb(255, 62, 62);
    color: white;
}
.delete-button:hover{
    background-color: rgb(214, 0, 0);
}

.go-to-cart:hover{
    background-color: rgb(188, 205, 255);
}

.already-in-cart-buttons{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.go-to-cart{
    border: 1px solid white;
}


.invisible{
    display: none;
}