

.wrapper{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px;
    gap: 20px;
    padding: 20px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cart-item-text{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 7fr 1fr;
    place-items: start;
    margin-right: 20px;
}

.total-price{
    font-weight: 300;
    justify-self: end;
}

.delete-button{
    grid-row: 3;
    align-self: end;
    margin-bottom: 5px;
}